@import "../../colors.scss";


.recinto-main-container {
  display: flex;
  width: 70%;
  height: 60%;
  background: $white-l-gray;
  border-radius: 10px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 55px;

    .recinto-mvl{
        img{
            height: 550px;
            width: auto;
        }
    }
}
