@import "../../colors.scss";

.recinto-content{
    h2{
        font-size: 22px;
        letter-spacing: 0.34px;
        margin-top: 27px;
        margin-bottom: 1rem;
    }
}
.recinto-main-container {
  display: flex;
  width: 90%;
  height: 100%;
  background: $white-l-gray;
  border-radius: 10px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 35px;

    .recinto-mvl{
        img{
            height: 680px;
            width: auto;
        }
    }
    
    .first-label-recinto{
        margin-right: 1.2rem;
        background-color: $ultra-white;
        display: flex;
        align-items: center;
        padding: 1.2rem;
        border-radius: 10px;

        .mapa{
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 8px;
        }
        .mapa-text{
            font-size: 15px;
            margin-right: 2rem;
        }
        .btn-first-lbl{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 1rem;


            .icons{
                display: flex;
                gap: 0.8rem;
                font-size: 22px;
                color: $black;
            }
        }
    }


    .second-label-recinto{
        margin-right: 1.2rem;
        background-color: $ultra-white;
        align-items: center;
        padding: 1.2rem;
        border-radius: 10px;
        margin-top: 1rem;
        margin-bottom: 1rem;

        .btn{
            display: flex;
            width: 100%;
            justify-content: flex-end;
            margin-top: 1rem;
        }

        form{
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            margin-left: 35px;
            margin-top: 18px;
            .two{
               gap: 6.6rem !important; 
            }
           .row{
            display: flex;
            gap: 1.9rem;
            .inputs{
                display: flex;
                flex-direction: column;
                
                label{
                    font-size: 15px;
                }
                input{
                    width: 120px;
                    height: 35px;
                    border: 0.857506px solid $gray-white;
                    text-align: center;
                }
                select{
                    width: 120px;
                    height: 35px;
                    border: 0.857506px solid $gray-white;
                    text-align: center;
                    border-radius: 8px;
                }
            }
           }
        }
    }
}

.next-recinto-container{
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    margin-right: 5%;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 2rem;

        .steps{
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 500;
        }
        .points{
            letter-spacing: 6px;
            font-size: 13px;
            color: $gray;

        }
        .btns{
            display: flex;
            gap: 1rem;
        }
}

.img-charge{
    color: $green;
}

.saved {
    color: $gray;
  }
