@import "./src/colors.scss";

.sidebar-container {
  width: 100%;
  height: 100%;
  background: $blue-feending;
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menus-container {
  margin-left: 42px;
  padding-top: 12px;
}

.labels {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  border-bottom: 1px solid $ultra-white;
  height: 50px;

  .sidebar-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: $white;
  }

  .sidebar-menus {
    color: $white;
    font-size: 15px;
  }
}

.sidebar-media {
  display: flex;
  justify-content: center;
  align-items: initial;
  margin-bottom: 1rem;

  .media-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    color: $white;

    p {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 600;
    }

    .social-icons {
      display: flex;
      gap: 16px;
      font-size: 20px;
    }

    a {
      color: $white;
    }
  }
}
