* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

.app-container {
  display: flex;
  min-height: 100vh;
}

.sidebar-boss-container{
  width: 20%;
  display: flex;
  flex-direction: column;
}
.content-container{
  width: 80%;
   display: flex;
  flex-direction: column;
}

