//Brand colors

$green:#00C2A2;;
$green50:#51CFBA;
$green10:#9AD9CE;
$greenSwich: #1BA97E;


$black: #02030E;
$gray-black: #22232B;
$gray: #666666;
$gray-white: #BABABA;
$white-gray: #DBDBDB;
$white-l-gray:#EFEFEF;
$white: #F9F9F9;
$ultra-white:#FFFFFF;

$blue-feending: #0c2443;



