@import "./colors.scss";


:root {
  font-family: 'SF Pro Display', sans-serif;

  line-height: 1.5;
  font-weight: 400;


 
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
 
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

button {
  border-radius: 8px;
  border: 1px solid;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 0.41px;
  height:42px;
}


input {
  border-radius: 8px;
  height: 42px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}
